<div id="users_top">
  <%= image_tag "food_top2.jpg", id:"users_top_img" %>
</div>

<div class="container">
  <ul class="nav nav-tabs justify-content-end mt-3">
    <li class="nav-item"><a class="nav-link text-dark <%= 'active' if current_page?("/users") %>" href= "/users"><h4 class="font-weight-bold">全ての投稿</h4></a></li>
    <li class="nav-item"><a class="nav-link text-dark <%= 'active' if current_page?("/users/#{current_user.id}/my_posts") %>" href= "/users/<%= current_user.id %>/my_posts"><h4 class="font-weight-bold">自分の投稿</h4></a></li>
    <li class="nav-item"><a class="nav-link text-dark <%= 'active' if current_page?("/users/#{current_user.id}/fav_posts") %>" href= "/users/<%= current_user.id %>/fav_posts"><h4 class="font-weight-bold">お気に入り</h4></a></li>
  </ul>
  
  <%= render "users/posts", posts: @my_posts %>
</div>