<div class="container">
  <div class= "row">
    <aside class= "col-md-5 mt-3" >
      <div class= "card">
        <div class= "card-header bg-secondary text-light h-10">
          <h3 class= "card-title m-0"><%= @post.title %></h3>
        </div>
      
        <div class= "card-body bg-light h-100">
          <img class= "rounded img-fluid" src="<%= @post.image %>" alt="">
        </div>
      </div>
    </aside>
  
    <div class="col-sm-7 mt-3">
      <div class= "card">
        <div class= "card-header bg-secondary text-light h-10">
          <h3 class= "card-title m-0">内容</h3>
        </div>
      
        <div class= "card-body bg-light h-100">
          <h5><%= @post.content %></h5>
        </div>
      </div>
    
      <div class="mt-3">
        <% if current_user == @post.user %>
          <%= link_to "編集", edit_post_path, class: "btn btn-primary" %>
          <%= link_to "削除", @post, method: :delete, data: { confirm: "削除してもよろしいですか？" }, class: "btn btn-danger" %>
        <% end %>
      
        <div class="mt-1">
          <%= render "favorites/fav_button", post: @post %>
        </div>
      </div>
    </div>
  </div>
</div>
